.acoes-projeto {
    padding: 5rem 8%;
    background: var(--cor-cinza-claro);
    text-align: center;
}

.acoes-projeto h2 {
    grid-column: 1 / -1;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--cor-verde-principal);
}

.acoes-projeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
}

.acoes-projeto .card-grande {
    background: var(--cor-branco);
    padding: 2.5rem 2rem;
    border-radius: 1.3rem;
    box-shadow: 0 5px 18px rgba(0,0,0,0.10);
    border: 1px solid rgba(0,0,0,0.05);
    transition: 0.3s ease;
    text-align: left;
    max-width: 450px;
    margin: 0 auto;
}

.acoes-projeto .card-grande:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.acoes-projeto .card-grande img {
    width: 80px;
    margin-bottom: 1rem;
}

.acoes-projeto .card-grande h3 {
    font-size: 1.6rem;
    color: var(--cor-azul-principal);
    margin-bottom: 0.8rem;
}

.acoes-projeto .card-grande p {
    font-size: 1rem;
    color: var(--cor-cinza-escuro);
    line-height: 1.5rem;
}
