@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-verde-principal: #2c5234;      
    --cor-azul-principal: #0288D1;       
    --cor-verde-claro: #A5D6A7;          

    --cor-amarelo-destaque: #FBC02D;     

    --cor-branco: #FFFFFF;               
    --cor-cinza-claro: #F5F5F5;          
    --cor-cinza-medio: #616161;          
    --cor-cinza-escuro: #212121;         

    --cor-azul-gelo: #E1F5FE;            

    --btn-primario: var(--cor-verde-principal);
    --btn-primario-hover: #256628;

    --btn-secundario: var(--cor-azul-principal);
    --btn-secundario-hover: #0277BD;
}

body {
    font-family: 'Inter', sans-serif;
        padding-top: 5rem; 

}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-verde-principal);
}

.hero p {
    color: var(--cor-cinza-escuro);
}
