.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-verde-principal);
    z-index: 9999;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.itens {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.itens li a {
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.itens li a:hover {
    text-decoration: underline;
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .itens {
        position: fixed;
        top: 5rem; 
        right: -100%;
        width: 60%;
        height: 100vh;
        background: var(--cor-verde-principal);
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
        transition: 0.4s ease;
    }

    .menu-btn {
        display: block;
    }

    .itens.active {
        right: 0;
    }
}
