.hero {
    min-height: 90vh; 
    padding: 6rem 1.5rem 3rem 1.5rem; 
    background: url('../imgs/hero/hero.png') no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

}

.hero * {
    position: relative;
    z-index: 1;
}

.hero .hero-conteudo {
    max-width: 900px;
    padding: 0 1rem;
}

.hero h1 {
    margin-bottom: 1.5rem;
    font-size: clamp(2rem, 5vw, 3.2rem); 
    color: white;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

.hero p {
    max-width: 550px;
    margin: 0 auto;
    font-size: clamp(1rem, 2.8vw, 1.25rem); 
    font-weight: 500;
    color: white;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}

@media (max-width: 900px) {
    .hero {
        padding-top: 8rem; 
    }
}

@media (max-width: 600px) {

    .hero {
        min-height: 50vh;
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .hero p {
        max-width: 90%;
    }
}
